extends layout

block content
    div#container
        h1= title
        p#create 
            a.button(href='/books/new') Create New Book
    
        form.search(action=`/books`, method="post")
            p
                input(name='search', type='text', placeholder='Search...', value=search.search )
            p
                a.buttonsearch(type='submit', value='search') Search Book

    table
        thead 
            tr 
                th Title
                th Author 
                th Genre 
                th Year
  
        tbody
            each book in pageBooks 
                tr 
                    td 
                        a(href=`/books/${book.id}`) #{book.title}
                    td= book.author 
                    td= book.genre 
                    td= book.year


    nav
        ul
        - var n = 0;
        while n < amountOfPages
            - ++n
            li
                a.pagination(href=`/books/page/${n}`)= n

