extends layout

block content
  div#container
    h1= title
    p#create 
      a.button(href='/books/new') Create New Book
    
    form.search(action=`/books`, method="post")
      p
        input#search(name='search', type='text', placeholder='Search...', value=search.search )
      p
        a.buttonsearch(type='submit') Search
      p
        a.buttonsearch(href='books/page/1') Back

  table
    thead 
      tr 
        th Title
        th Author 
        th Genre 
        th Year
  
    tbody
      each book in books 
        tr 
          td 
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author 
          td= book.genre 
          td= book.year